#div-container {
  background-color: greenyellow;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin: 0 auto;
  /* transition: margin-top 2s ease-in-out 2s; */
  transition-duration: 2s;
  transition-delay: 0.9s;
  transition-timing-function: ease-in-out;
}

#div-container:hover {
  background-color: orangered;
  border-radius: 50%;
  margin-top: 300px;
}
