.card{
  height: 300px;
  width: 200px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  box-shadow: 1px 1px 4px gray;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.card:hover{
  box-shadow: 4px 4px 20px black;
  cursor: pointer;
  
}

img{
  height: 130px;
  width: 100%;
}