h1 {
  text-align: center;
  border: 2px solid black;
  background-color: yellowgreen;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px green;
  transition-duration: 1.5s;
  color: rgb(48, 48, 48);
}
h1:hover {
  cursor: pointer;
  box-shadow: 4px 4px 30px greenyellow;
}
body {
  background-color: lightblue;
}

#container {
  height: 500px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(156, 123, 240);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box {
  height: 100px;
  width: 400px;
  text-align: center;
  color: wheat;
  font-weight: bolder;
}

.orange{
  /* flex-basis: 200px; */
  /* flex-grow: 2; */
  flex-shrink: 2;
}

.blue{
  /* flex-basis: 200px; */
  /* flex-grow: 3; */
  flex-shrink: 2;
}